
#body {
    margin:0;
    padding:0;
    background:black;
    text-align:center; 
}
#tudo {
    width: 760px;
    margin:0 auto;			
    padding: 10px;
    text-align:left; 
}
#conteudo {
    padding: 30px;
    background-color: #eeeeee;
}